.browse {
  max-width: 100%;
  background-image: url(../images/recipe-hero.jpg);
  background-image: linear-gradient(
      rgba(167, 232, 189, 0.6),
      rgba(167, 232, 189, 0.8)
    ),
    url(../assets/images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Lato', sans-serif;

  // margin-bottom: 300px;

  &__box {
    width: 100%;
    height: 600px;
    display: inline;
    align-items: center;
    justify-content: space-between;
  }

  &__row {
    height: 263px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  &__row2 {
    height: 263px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__foodbox {
    width: 524px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  &__img {
    width: 300px;
    height: 100%;
    border-radius: 22px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &--imgPizza {
    background-image: url('../assets/images/recipe-pizza.jpg');
  }
  &--imgBurger {
    background-image: url('../assets/images/recipe-burger.jpg');
  }
  &--imgBiryani {
    background-image: url('../assets/images/recipe-pilaf.jpg');
  }
  &--imgMein {
    background-image: url('../assets/images/recipe-chowmein.jpg');
  }

  &__textContainer {
    border-radius: 22px;
    width: 224px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 15px;
    color: #000;
    font-weight: solid;
    text-transform: capitalize;
    text-decoration: underline;
    
  }
  p {
    font-size: 9px;
  }
  &__alltext {
    width: 130px;
    height: 177px;
    font-weight: solid;
    display: inline;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;   
  }
  &__iconwrap {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  .icons {
    height: 23px;
    width: 23px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 1099px) {
    .browse {
      width: 100%;
      min-height: 1450px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      &__box {
        display: inline;
        height: auto;
        width: 520px;
      }
      &__foodbox {
        float: left;
        height: 263px;
        margin-bottom: 40px;
      }
      &__row {
        display: inline;
      }
      &__row2 {
        display: inline;
      }
    }
}

@media only screen and (max-width: 595px) {
  .browse {
    width: 100%;
    min-height: 1700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    &__box {
      display: inline;
      height: auto;
      width: 524px;
    }
    &__foodbox {
      float: left;
      height: 316px;
      width: 100%;
      display: inline;
      align-items: center;
      justify-content: space-evenly;
      margin-bottom: 40px;
    }
    &__icons {
      height: 13px;
      width: 13px;
    }
    &__img {
      height: 140px;
    }
    &__textContainer {
      height: 165px;
      width: 290px;
    }
    &__alltext {
      width: 150px;
      height: 140px;
    }
    &__row {
      display: inline;
    }
    &__row2 {
      display: inline;
    }
  }
}
