.login-wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .form {
    * {
      display: block;
    }
    h2 {
      font-family: lato-black;
      font-size: 30px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
      margin-top: 50px;
      width: 250px;
      outline: none;
      border: none;
      border-bottom:  black 3px solid;
      background-color: var(--yellow);
    
    }

    input[type="submit"] {
      border: none;
      margin-bottom: 130px;
      font-family: caveat;
      font-size: 25px;
      width: 250px;
      height: 52px;
      margin-top: 50px;
      border-radius: 25px;
     
    }
  }
}

// tablet
@media only screen and (max-width: 768px) {
  .login-wrapper { 

    .form {
     width: 80%;
     height: 80%;
     margin: 40px 20px;
    }
}
}

// phone
@media only screen and (max-width: 550px) {

       .login-wrapper{
         width: 60%;
          height: 60%;
        .form input{
         
          padding: 40px 20px;
          input{
          width: 200px;
          }
         }
       }
  // .form One{
  //   width: 60%;
  //   height: 60%;
  //   padding: 40px 20px;
  //  }

}