nav {
  display: flex;
  justify-content: space-between;
  padding: 50px;

  .links {
    a {
      margin-left: 20px;
      text-decoration: none;
      color: black;
      font-family: caveat;
      font-size: 25px;
    }

    .login {
      background-color: var(--yellow);
      padding: 10px 20px;
      border-radius: 25px;
    }
  }
}
// tablet
@media only screen and (max-width: 768px) {
  .nav { a {
              font-size: 15x;
            }
        
            .login {
              width: 80%;
              height: 80%;
            }
          }
        }

// phone
@media only screen and (max-width: 550px) {
  .nav {
          width: 60%;
          height: 60%;
  }
}